<html ng-app="myApp">
    <head>
        <meta charset="utf-8" />    
        <title>Angular + Rails = ❤</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
        <link rel="stylesheet" href="stylesheet.css">
        <script src="/lib/jquery-2.1.4.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
        <script src="/modules/angular-contentful.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/myApp.js" type="text/javascript"></script>
    </head>

    <body>
        <div id="app-container">
            <div id="app-header">
                <div class="xl-box">
                    <h1>Angular + Rails = ❤ <small></small></h1>
                    <p>Using the mighty magic of <a href="https://angularjs.org/">AngularJS</a> and <a href="http://rubyonrails.org/">Ruby on Rails</a> combined, we create a vortex of godliness.</p>
                </div>
            </div>
            <div id="app-content">
                <div class="xl-box">
                    
            <section ng-controller="articlesCreateCtrl">
                <div class="xl-box">
                    <div class="l-box" ng-show="message">
                        {{ message }}
                    </div>

                    {{ status }}

                    <div ng-show="formData.title">
                        LOL
                    </div>

                    <form ng-submit="processForm()">
                        <div id="name-group" class="l-box">
                            <label>Title</label>
                            <br />
                            <input type="text" name="title" ng-model="formData.article['title']">
                        </div>

                        <div id="content-group" class="l-box">
                            <label>Content</label>
                            <br />
                            <textarea name="content" ng-model="formData.article['content']"></textarea>
                        </div>

                        <div id="author-group" class="l-box" ng-controller="getAuthorsCtrl">
                            <label>Author</label>
                            <br />
                            <select ng-model="formData.article['author']">
                                <option style="display:none" value="">select an Author</option>
                                <option ng-repeat="author in authors">{{ author.name }}</option>
                            </select>
                        </div>

                        <button type="submit">
                            Submit
                        </button>
                    </form>

                    <pre>{{ formData | json }}</pre>

                </div>
            </section>

                    <section ng-controller="articlesIndexCtrl">
                        <div class="xl-box">
                            {{ response }}
                        </div>
                    </section>

                </div>
            </div>
        </div>

        <div class="footer">
            <a class="footer-link" href="http://www.xrlabs.de">► xrlabs</a>
        </div>

    </body>
</html>